<!doctype html>
<html>
    <head>
        <title>Users List</title>
        <script>
            fetch('https://reqres.in/api/users?page=2').then(Response=>Response.json()).then(responseJSON => createUsersList (responseJSON.data)).catch(err => console.log(err));
        
            function createUsersList (users){
                console.log(users);
                const curr_main = document.querySelector("main");
                for(let user of users){
                    const section = document.createElement("section");
                    section.innerHTML = `
                    <div>
                        <img src=${user.avatar} alt="A picture of the user"> 
                        <div>${user.first_name} ${user.last_name}</div>
                        ID number: ${user.id}
                    </div><br>`;
                    curr_main.appendChild(section);
                }
            }
        </script>
        <header style="text-align: center; font-family: tahoma; font-size: 60px">Users List:</header><hr>
    </head>
    <header style="font-size: 3vh">
        {% if session.get('login') %}
            Hello {{ session.get('username') }},
        {% endif %}

    </header>
    <main style="text-align: center; font-family: tahoma; font-size: 16px">

    </main>
</html>